
.search-continue-btn {
  margin-top: 0px;
  background-color: #1f1d1c;
  border: none;
  font-size: 18px;
  margin-bottom: 15px;
  border-radius: 15px;
 padding: 10px 10px;
  color: #cbcbcb;
  font-weight: bold;
  margin-right: 10px;
}

/* .user-form .save-continue-btn:hover, */
.search-continue-btn:hover {
  background-color: #3c3b3a;
  color: #ffc107;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 30%;
  padding: -20px;
}

.search-container input {
  flex: 1;
  margin-right: 10px;
  padding: -20px;
}

